/*.container {
  display: grid;
  gap: 20px;
  columns: 1;
  height: 600px;
  overflow-y: scroll;
}

.box {
  display: flex;
  align-items: center;
}*/


.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  composes: ml-5 pt-25 from global;
  justify-content: space-between;
  max-height: 900px;
}


.scroller {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  max-height: 450px;
  overflow-y: auto;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
  composes: mb-4 mt-4 from global;
}

.scroller::-webkit-scrollbar {
  width: 8px;
}
.scroller::-webkit-scrollbar-track {
  background: #2F2F37;
}
.scroller::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.box {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  composes: mt-10  mb-10 pl-4 pr-4 from global;
}

.price {
  display: flex;
  align-items: center;
  composes: mr-10 text text_type_digits-medium from global;
}