.wrapper {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    composes: pt-30 from global;
  
  }

.content {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.sidebar nav {
    display: flex;
    flex-flow: column;
}

.sidebar a {
    text-decoration: none;
    cursor: pointer;
}

a.active {
    color: #F2F2F3;
}

.form {
    text-align: center;
}