.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  height: 85vh;
}

.container_div_left {
  //float: left;
  //flex: 50%;
  //box-sizing: border-box;
  //padding: 15px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  composes: mr-5 from global;
  flex-grow: 0;
}

.container_div_right {
  float: right;
  flex: 50%;
  box-sizing: border-box;
  padding: 15px;
}

@media screen and (max-width: 1280px) {
  .container {
      height: 100vh;
  }
}