.modal {
    background: rgba(223, 44, 44, 0);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal__image {
    cursor: pointer;
}
.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 1 1;
    width: 500px;
    composes: pr-15 pl-15 from global;
}

.text_block {
    flex: "25%";
}

.name {
    composes: text text_type_main-medium pt-4 pb-8 from global;
}

.text {
    margin-left: 4px;
    composes: text text_type_main-default text_color_inactive from global;
}