.header {
  box-sizing: border-box;
  margin: auto;
  background-color: #1c1c21;
  height: 88px;
  display: flex;
  align-items: center;
  width: 100%;
  top: 40px;
}

.navbar {
  width: 100%;
  margin: 0 auto;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu_wrapper {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  line-height: 24px;
  text-decoration: none;
  color: #f2f2f3;
  composes: pt-4 pb-4 pl-5 pb-5 from global;
}

.link_active {
  display: flex;
  text-decoration: none;
  align-items: center;
  color:#F2F2F3;
}

.logo {
  transform: translateX(-70px);
  align-self: center;
}

.text {
  composes: text text_type_main-default from global;
}

.text_active {
  composes: text text_type_main-default text_color_inactive from global;
}
